@import "tailwindcss";

:root{
    background-color: rgb(32, 32, 32);
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white
}

.board{
    overflow-x: auto
}

::-webkit-scrollbar {
    /* height: 8px;
    width: 8px;*/
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 999px;
}

button{
    cursor: pointer;
}

